<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/tasks/layout}">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Zadanie</title>
    <script type="text/javascript" th:src="@{/js/validate/validate-task.js}"></script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <script th:if="${notificationsForLayout != 0}">
        sessionStorage.setItem('notificationsAlert', true);
    </script>
    <script th:if="${tasksForLayout != 0}">
        sessionStorage.setItem('tasksAlert', true);
    </script>
    <br>
    <br>
    <div class="jumbotron">
        <h3 style="text-align: center">Nowe zadanie</h3>
        <hr>
        <form>
            <div class="form-group">
                <label for="taskName">Nazwa zadania:</label>
                <input class="form-control" id="taskName" style="width: 500px" placeholder="Wpisz nazwę zadania.">
                <div id="invalidTaskName" class="invalid-feedback" style="display: none">
                    Wpisz nazwę zadania.
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="taskPriority">Wybierz priorytet zadania:</label>
                <select class="form-control" id="taskPriority" style="width: auto">
                    <option th:each="priority : ${priorities}"
                            th:value="${priority.id}"
                            th:text="${priority.name}">
                    </option>
                </select>
                <div id="invalidTaskPriority" class="invalid-feedback" style="display: none">
                    Wybierz priorytet zadania.
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="taskType">Wybierz typ zadania:</label>
                <select class="form-control" id="taskType" style="width: auto">
                    <option th:each="type : ${types}"
                            th:value="${type.id}"
                            th:text="${type.name}">
                    </option>
                </select>
                <div id="invalidTaskType" class="invalid-feedback" style="display: none">
                    Wybierz typ zadania.
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="taskRelatedNotification">Wybierz powiązane zgłoszenie:</label>
                <select class="form-control" id="taskRelatedNotification" style="width: auto">
                    <option th:value="0" th:text="------"></option>
                    <option th:each="notification : ${notifications}"
                            th:value="${notification.id}"
                            th:text="${notification.name}">
                    </option>
                </select>
                <div id="invalidTaskRelatedNotification" class="invalid-feedback" style="display: none">
                    Wybierz powiązane zgłoszenie z zadaniem.
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="taskAssignedPerson">Przypisz użytkownika:</label>
                <select class="form-control" id="taskAssignedPerson" style="width: auto">
                    <option th:value="0" th:text="------"></option>
                    <option th:each="user : ${users}"
                            th:value="${user.id}"
                            th:text="${user.email}">
                    </option>
                </select>
                <div id="invalidTaskAssignedPerson" class="invalid-feedback" style="display: none">
                    Przypisz osobę do zadania.
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="taskDescription">Opis zadania:</label>
                <textarea class="form-control" id="taskDescription" rows="3" placeholder="Wprowadź opis zadania."></textarea>
                <div id="invalidTaskDescription" class="invalid-feedback" style="display: none">
                    Wprowadź opis zadania.
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="taskDeadline">Termin wykonania:</label>
                <input class="form-control" id="taskDeadline" type="date"
                       th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}" style="width: auto">
                <div id="invalidTaskDeadline" class="invalid-feedback" style="display: none">
                    Wybierz termin wykonania zadania.
                </div>
            </div>
            <hr>
            <div style="text-align:center; height: 70px">
                <a class="btn btn-primary" style="width: 200px; color: white" onclick="validateTask();">Dodaj
                    zadanie</a>
                <span id="urlToSaveTask" th:href="@{/tasks/save-task}" style="display: none"></span>
            </div>
        </form>
    </div>
</div>
</body>
</html>