<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/tasks/layout}">
<head>
    <meta charset="UTF-8">
    <title>Dodanie komentarza</title>
    <script type="text/javascript" th:src="@{/js/validate/validate-comment.js}"></script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <br>
    <br>
    <div class="jumbotron"><h1 class="display-4" style="text-align: center;font-size: 30px">
        <span style="font-weight: bold">Nazwa zadania: </span><span th:text="${task.name}"></span></h1>
        <hr class="my-4">
        <div class="form-group">
            <label for="commentText">Dodaj komentarz:</label>
            <textarea class="form-control" id="commentText" rows="3" placeholder="Wprowadź treść komentarza."></textarea>
            <div id="invalidCommentText" class="invalid-feedback" style="display: none">
                Wprowadź treść komentarza.
            </div>
        </div>
        <hr class="my-4">
        <div style="text-align:center; height: 70px">
            <a class="btn btn-primary" onclick="window.history.back();" style="width: 200px; color: white;" role="button">Wstecz</a>
            <a class="btn btn-warning" style="width: 200px; color: white" onclick="validateComment();">Dodaj</a>
        </div>
    </div>
</div>
</body>
</html>