<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/notifications/layout}">
<head>
    <meta charset="UTF-8">
    <title>Nowe zdarzenie</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <script th:if="${notificationsForLayout != 0}">
        localStorage.setItem('notificationsAlert', true);
    </script>
    <script th:if="${tasksForLayout != 0}">
        localStorage.setItem('tasksAlert', true);
    </script>
</div>
</body>
</html>