<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="footer">
    <footer style="width: 100%; bottom: 0px;" class="card-footer text-muted">
        <div class="container">
                <span sec:authorize="isAuthenticated()" style="display: inline-block;">
            <p>Zalogowano jako: <span id="username-of-logged-user" sec:authentication="name"></span></p>
            <p>Role użytkownika: <span sec:authentication="principal.authorities"></span></p>
                </span>
        </div>
    </footer>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</th:block>
</body>
</html>