<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-light navbar-light nav-bar-background-color">
        <span style="width: 10%"></span>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link nav-bar-font-size" th:href="@{/}">Strona główna</a>
            </li>
            <span style="width: 20%"></span>
            <li class="nav-item" sec:authorize="hasRole('USER')">
                <a id="tasksLabel" class="nav-link nav-bar-font-size" th:href="@{/tasks/current-tasks-list}" style="display:inline-block;">Zadania</a>
                <ion-icon id="tasksAlert" name="alert" style="color: red; display: none"></ion-icon>
            </li>
            <span style="width: 30px"></span>
            <li class="nav-item" sec:authorize="hasRole('USER')">
                <a id="notificationsLabel" class="nav-link nav-bar-font-size" th:href="@{/notifications/notification-list}" style="display:inline-block;">Dziennik Zdarzeń</a>
                <ion-icon id="notificationsAlert" name="alert" style="color: red; display: none;"></ion-icon>
            </li>
            <li class="nav-item" sec:authorize="hasRole('USER')" style="position: absolute; top: 8px; right: 10%;">
                <a class="nav-link nav-bar-font-size nav-bar-logout" th:href="@{/logout}" onclick='sessionStorage.clear();'>Wyloguj</a>
            </li>
        </ul>
    </nav>
</th:block>
</body>
</html>