<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<th:block th:fragment="header">
    <a id="application-link" style="display: none" th:href="@{/}"></a>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Strona główna</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('USER')">
                <a class="nav-link" th:href="@{/editedBy}">Panel użytkownika</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" th:href="@{/templates/admin}">Panel administratora</a>
            </li>
            <li class="nav-item" sec:authorize="!hasRole('USER')">
                <a class="nav-link" th:href="@{/login}">Zaloguj</a>
            </li>
            <li class="nav-item" sec:authorize="!hasRole('USER')">
                <a class="nav-link" th:href="@{/registration}">Zarejestruj</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('USER')">
                <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
            </li>
        </ul>
    </nav>
</th:block>
</body>
</html>